<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <img src="${encodeURIComponent('https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?auto=compress&w=400')}">
    {{!-- alt="online grocery shop" width="200" height="100"> --}}
    <h1>Welcome✨, {{username}}!</h1>
    <p>Thanks for signing up with the best online grocery shop.</p>
    <p>Your code is: <b> {{otp}}</b></p>
    <p>Use this code to sign in now</p>
  </body>
</html>